@import url('https://fonts.cdnfonts.com/css/niagara-engraved?styles=17862');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');



.vinho-container {
    padding: 0px;
    margin: 0;
    text-align: center;


  }


  .fundo001 {
    width: 100%;
    height: 100%; /* A altura da tela inteira */
    background-image: url('../../assets/fundo01.png');
    background-size: cover; /* A imagem cobre toda a área sem deixar espaços */
    background-position: top center; /* Alinha a imagem ao topo e centraliza horizontalmente */
    background-attachment: fixed; /* Fixar a imagem no fundo */
    background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
    margin: 0;

  }
  

  .titulo-uva {
    padding: 0;
    margin: 0;
    height: 90vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/uvas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -30px;
  }
  

  .titulo-vinho {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .vinhos-lista {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar os itens na horizontal */
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards */
  }
  
  .vinho-card {
    flex: 1 1 300px; /* Cada card ocupa no mínimo 300px, ajusta conforme a tela */
    max-width: 300px; /* Limita a largura máxima dos cards */
    height: 400px; /* Define uma altura fixa para os cards */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Espaça os itens dentro do card */
    align-items: center; /* Centraliza horizontalmente os itens */
    background-color: #f9f9f9;
    transition: transform 0.3s;
  }
  
  .vinho-card:hover {
    transform: scale(1.05);
  }
  
  .vinho-imagem {
    width: 100%; /* Imagem ocupa toda a largura disponível */
    height: 150px; /* Altura fixa para uniformizar o tamanho */
    object-fit: contain; /* Garante que a imagem seja exibida inteira sem cortes */
    border-radius: 8px;
    background-color: #fff; /* Adiciona fundo para imagens menores */
  }
  
  .vinho-nome {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }
  
  .vinho-preco {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .vinho-botao {
    padding: 10px 15px;
    background-color: #8a2b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .vinho-botao:hover {
    background-color: #6b1e1e;
  }
  



  .titulo-uva .h1vinho {
    font-family: 'Niagara Engraved', sans-serif;
    font-size: 10rem;  /* Tamanho da fonte */
    color: #5e2129; /* Cor vinho */
    letter-spacing: 0.2em; /* Espaço entre as letras */
    text-align: start;
  }

  .pvinho {
    font-family: 'Roboto Slab', serif; /* Fonte personalizada */
    font-size: 1rem;  /* Ajuste o tamanho conforme necessário */
    color: #489fb3;   /* Cor vinho roxo */
    letter-spacing: 0.1em; /* Espaço entre as letras, ajuste conforme necessário */
    text-align: start;
  }

  
  


  @media (max-width: 768px){
    .titulo-uva .h1vinho{
      text-align: center;
      font-size: 5rem;
      margin-left: 70px;
    }

    .pvinho{
      margin-left: 70px;
      text-align: center;
    }
    
    .titulo-uva {
      height: 40vh;
      width: 100%;
      margin-left: -30px;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: start;
      background-size: 170% 140%; /* A imagem será ajustada para 100% da largura e altura */
      background-position: center;
    }
  }