/* Banner container */
.banner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-top: 120px;
}

/* Estilização dos vídeos e imagens */
.banner video,
.banner img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
  cursor: pointer;
}

/* Container das imagens e texto */
.image-container {
  position: relative;
}

/* Estilo do texto com efeito de digitação */
.texto-banner {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  z-index: 2;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

/* Estilo das setas personalizadas */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.custom-arrow-left {
  left: 10px;
}

.custom-arrow-right {
  right: 10px;
}

.botao-churrasco {
  text-align: center;
  margin-top: 20px;
}

.botao-churrasco button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6b3624;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-churrasco button:hover {
  background-color: #8b4f36;
}

.botao-banner01 btn{
  background-color: #8b4f36
}

.bot {
  width: 20%;
}

/* Responsividade */
@media (max-width: 800px) {
  .texto-banner {
    font-size: 1.5rem;
  }

  .banner {
    margin-bottom: -300px;
  }

  .bot {
    width: 25%;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .banner {
  width: 100%;
  height: 400px;
  max-height: 500vh;
  object-fit: cover;
  margin-top: 200px;
 
  }

  .banner video,
.banner img {
  width: 100%;
  height: 400px;
  max-height: 400vh;
  object-fit: cover;
   
}
  .texto-banner {
    font-size: 1.2rem;
  }
}
